@model MusicWebSite.ViewModels.Song.ListSongViewModel

@{
    ViewData["Title"] = "Songs";
}

<h1>Songs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.songs.FirstOrDefault().id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.songs.FirstOrDefault().name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.songs.FirstOrDefault().filePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.songs.FirstOrDefault().releaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.songs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.filePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.releaseDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("View", "View", new { id = item.id}) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
