@model MusicWebSite.ViewModels.Artist.ListArtistViewModel

@{
    ViewData["Title"] = "Artists";
}

<h1>Artists</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.artists.FirstOrDefault().id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.artists.FirstOrDefault().name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.artists.FirstOrDefault().description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.artists.FirstOrDefault().startingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.artists.FirstOrDefault().endingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.artists) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endingDate)
            </td>
            <td>
                @Html.ActionLink("View", "View", new { item.id }) |
            </td>
        </tr>
}
    </tbody>
</table>
